.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-pulse {
    animation: App-text-pulse 2s infinite;
  }
}

.App-body {
  background-color: #14171c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.2vmin);
  color: white;
}

.App-link {
  color: #4d4d4d;
  border-color: #4d4d4d;
}

.App-icon {
  border: 0,
}

@keyframes App-text-pulse {
  0% {
    color: #14171c;
  }
  100% {
    color: white;
  }
}